<html>
    <head>
        <title>Change Password</title>
    <style>
        .messages{
        color: green;
    }
    </style>
    </head>
<body>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

    <p2>Change Your Password with Old Credentials</p2><br><br><br>
    <form method= "post" novalidate>
        {% csrf_token %}
        {% for f in form %}
        {{f.label_tag}} {{f}} {{f.errors}}<br><br>
        {% endfor %}
    <input type="submit" value="Change Password">
    </form>
</body>
</html>